.no-display {
  display: none;
}

.container-fluid {
  padding: 20px;
  margin: 25px 0;
  border-radius: 15px;
}

.btn {
  background: red;
  border-color: red;
  color: black;
  font-family: courier;
}

.btn:focus {
  border-color: red;
  box-shadow: 0 1px 1px red inset, 0 0 8px red;
}

html {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body {
  background-color: transparent;
  color: red;
  font-family: courier;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
}

.form-control {
  background-color: transparent;
  color: lightgrey;
}

.form-control:focus {
  background-color: transparent;
  border-color: red;
  box-shadow: 0 1px 1px red inset, 0 0 8px red;
}
