.no-display {
  display: none;
}

body {
  background-color: black;
  color: red;
  font-family: courier;
}

h1 {
  text-align: center;
}

.btn {
  background: red;
  border-color: red;
  color: black;
  font-family: courier;
}

/*#form-container {
  background-color: #424242;
  margin-top: 100px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 20px;
  border-radius: 15px;
}*/

.container-fluid {
  padding: 20px;
  margin: 25px 0;
  border-radius: 15px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 30%;
}
